@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
    <ul>
        @{
        string newNum = Request.Params["unum"];
        ViewBag.LogNum = newNum;
        var id = 0;
        }
        <li><a>Hi @User.Identity.GetUserName()</a></li>
        @if (User.IsInRole("Registered Users"))
        {
            <li>@Html.ActionLink("Home", "FindMe", "Account")</li>
        }
        @if (User.IsInRole("Administrators"))
        {
            <li>@Html.ActionLink("Manage Roles/Control Panel", "Index", "ManageOrders", new { @unum = ViewBag.LogNum }, null)</li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

    }
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "UserLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
